<!DOCTYPE html>
<html lang="en">
  <body>	
	<div class="about">
		<div class="container">
		
		 <div class="mysize_btn" align="center">
		 	<div  class="row" >
 				  <div class="col-xs-6 col-md-3"><a href="/app/mypage/mysize/5"><img src="http://image.musinsa.com/images/size_type/preview_img/1396616623_57fc7b4006a3a1b0c64852725de4ca4d.jpg" alt="반팔티셔츠" width="66" height="84" /></a>
                            <p>반팔티셔츠<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/app/mypage/mysize/24"><img src="http://image.musinsa.com/images/size_type/preview_img/1398261962_61eb00241571dfd06f72832ed7a74428.jpg" alt="민소매" width="66" height="84" /></a>
                            <p>민소매<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/app/mypage/mysize/21"><img src="http://image.musinsa.com/images/size_type/preview_img/1396944840_2a6c9579e90c9542ad0da025e37df8c7.jpg" alt="긴팔티셔츠" width="66" height="84" /></a>
                            <p>긴팔티셔츠<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/app/mypage/mysize/20"><img src="http://image.musinsa.com/images/size_type/preview_img/1396616814_8e5eacfa72203bc1c8e954571035bf9e.jpg" alt="셔츠" width="66" height="84" /></a>
                            <p>셔츠<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/app/mypage/mysize/7"><img src="http://image.musinsa.com/images/size_type/preview_img/1396617678_be6edccbbef3120f32e67fab0bd6c6ef.jpg" alt="일반점퍼" width="66" height="84" /></a>
                            <p>일반점퍼<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/app/mypage/mysize/8"><img src="http://image.musinsa.com/images/size_type/preview_img/1396616860_db3726ba1104ff5bea8c48dfdbe9e60e.jpg" alt="헤비아우터" width="66" height="84" /></a>
                            <p>헤비아우터<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/app/mypage/mysize/10"><img src="http://image.musinsa.com/images/size_type/preview_img/1396616905_d24aa69e820c46cfe8f465187ebadf2a.jpg" alt="코트" width="66" height="84" /></a>
                            <p>코트<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/app/mypage/mysize/6"><img src="http://image.musinsa.com/images/size_type/preview_img/1396616921_0421140b72f1e69081529ec290934702.jpg" alt="바지" width="66" height="84" /></a>
                            <p>바지<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/app/mypage/mysize/23"><img src="http://image.musinsa.com/images/size_type/preview_img/1396944891_502f73ce2176a76358da7c0d20687bd7.jpg" alt="반바지" width="66" height="84" /></a>
                            <p>반바지<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/app/mypage/mysize/14"><img src="http://image.musinsa.com/images/size_type/preview_img/1396616941_3cb9cf51f57bc0a20270ec1b6688194d.jpg" alt="치마" width="66" height="84" /></a>
                            <p>치마<br /></p></div>

			</div>
		</div>			
	</div>
	
	<hr>
	<div class="container" >
		<form class="well">
			<div  class="row" >
					<h2 align="center">하의</h2>
					<br>
			  	<div class="col-md-6" align="center">
			  		<img src="http://image.musinsa.com/images/size_type/detail_img/1397136036_1bdb31681c20a3408c9040a6c574269e.jpg" alt="바지" />
			    </div>
			  	<div  class="col-md-6">
			  				
	    								<input type="hidden" name="item_val1" value="총장"><h4>1. 총장</h4>
	    								<input type="text" name="size_val1" value="" size="10"  >cm
	  									
								
										<input type="hidden" name="item_val2" value="허리단면"><h4>2. 허리단면</h4> 
										<input type="text" name="size_val2" value="" size="10">cm
							
										<input type="hidden" name="item_val3" value="허벅지단면"><h4>3. 허벅지단면</h4> 
										<input type="text" name="size_val3" value="" size="10">cm
													
	
										<input type="hidden" name="item_val4" value="밑위"><h4>4. 밑위</h4> 
										<input type="text" name="size_val4" value="" size="10">cm
	
										<input type="hidden" name="item_val5" value="밑단단면"><h4>5. 밑단단면</h4> 
										<input type="text" name="size_val5" value="" size="10">cm<br><br>
										<button type="submit" align="center">입력하기</button>
				</div>
			</div>
		</form>
	</div>
	
	<footer>
		<div class="container">
			<div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
				<h4>About Us</h4>
				<p>Day is tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters.</p>						
				<div class="contact-info">
					<ul>
						<li><i class="fa fa-home fa"></i>Suite 54 Elizebth Street, Victoria State Newyork, USA </li>
						<li><i class="fa fa-phone fa"></i> +38 000 129900</li>
						<li><i class="fa fa-envelope fa"></i> info@domain.net</li>
					</ul>
				</div>
			</div>

	
	</footer>
	
	<div class="sub-footer">
		<div class="container">
			<div class="social-icon">
				<div class="col-md-4">
					<ul class="social-network">
						<li><a href="#" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" class="ytube tool-tip" title="You Tube"><i class="fa fa-youtube-play"></i></a></li>
					</ul>	
				</div>
			</div>
					
		</div>				
	</div>
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.js"></script>		
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>	
	<script src="js/wow.min.js"></script>
	<script>wow = new WOW({}).init();</script>	
    
</body>
</html>