<!DOCTYPE html>
<html lang="en">
  <body>	
		<div class="container">
			<div class="text-center">
				<h2>마이사이즈 </h2>
				<br><br><br><br>

				<div class="container">		
		
				<div class="container">
		
		 <div class="mysize_btn" align="center">
		 	<div  class="row" >
 				  <div class="col-xs-6 col-md-3"><a href="/home/2"><img src="/assets/half_tshits_1.jpg" alt="반팔티셔츠" width="66" height="84" /></a>
                            <p>반팔티셔츠<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/3"><img src="/assets/ohmy_1.jpg" alt="민소매" width="66" height="84" /></a>
                            <p>민소매<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/4"><img src="/assets/long_tshirts_1.jpg" alt="긴팔티셔츠" width="66" height="84" /></a>
                            <p>긴팔티셔츠<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/5"><img src="/assets/shirts_1.jpg" alt="셔츠" width="66" height="84" /></a>
                            <p>셔츠<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/6"><img src="/assets/nirmaljumper_1.jpg" alt="일반점퍼" width="66" height="84" /></a>
                            <p>일반점퍼<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/7"><img src="/assets/heavyouter_1.jpg" alt="헤비아우터" width="66" height="84" /></a>
                            <p>헤비아우터<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/8"><img src="/assets/coat_1.jpg" alt="코트" width="66" height="84" /></a>
                            <p>코트<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/1"><img src="/assets/pants_1.jpg" alt="바지" width="66" height="84" /></a>
                            <p>바지<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/9"><img src="/assets/shortpants_1.jpg" alt="반바지" width="66" height="84" /></a>
                            <p>반바지<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/10"><img src="/assets/skirt_1.jpg" alt="치마" width="66" height="84" /></a>
                            <p>치마<br /></p></div>


			</div>
		</div>			
	</div>
		</div>
		<br><br><br><br><br><br>
			</div>	
		</div>			
	
	<hr>
	<div class="container" >
	<form class="well" action="/home/write" method="POST">
		<div  class="row" >
				<h2>헤비아우터</h2>
		  	<div class="col-md-6">
		  		<img src="/assets/heavyouter.png" alt="헤비아우터" />
		    </div>
		  	<div  class="col-md-6">
		  				
									  				
  				<input type="hidden" name="cloth_type" value="헤비아우터">
  		
				<input type="hidden" name="item_val1" value="총장"><h4>1. 총장</h4>
				<input type="text" name="size_val1" value="" size="10"  >cm
  					
			
				<input type="hidden" name="item_val2" value="어깨너비"><h4>2. 어깨너비</h4> 
				<input type="text" name="size_val2" value="" size="10">cm
	
				<input type="hidden" name="item_val3" value="가슴단면"><h4>3. 가슴단면</h4> 
				<input type="text" name="size_val3" value="" size="10">cm
							

				<input type="hidden" name="item_val4" value="소매길이"><h4>4. 소매길이</h4> 
				<input type="text" name="size_val4" value="" size="10">cm<br><br>
<br><br>
									<button type="submit" >입력하기</button>
			</div>
		</div>
	</form>
	</div>

</body>
</html>