<!DOCTYPE html>
<html lang="en">
  <body>	
		<div class="container">
			<div class="text-center">
				<h2>My Size </h2>
        <br><br><br><br>                                                                                                     

				<div class="container">		
				<div class="container">
		
		 <div class="mysize_btn" align="center">
		 	<div  class="row wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">
 				  <div class="col-xs-6 col-md-3"><a href="/home/result_2" ><img src="/assets/half_tshits_1.jpg" alt="반팔티셔츠" width="66" height="84" /></a>
                            <p>반팔티셔츠<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/result_3"><img src="/assets/ohmy_1.jpg" alt="민소매" width="66" height="84" /></a>
                            <p>민소매<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/result_4"><img src="/assets/long_tshirts_1.jpg" alt="긴팔티셔츠" width="66" height="84" /></a>
                            <p>긴팔티셔츠<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/result_5"><img src="/assets/shirts_1.jpg" alt="셔츠" width="66" height="84" /></a>
                            <p>셔츠<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/result_6"><img src="/assets/nirmaljumper_1.jpg" alt="일반점퍼" width="66" height="84" /></a>
                            <p>일반점퍼<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/result_7"><img src="/assets/heavyouter_1.jpg" alt="헤비아우터" width="66" height="84" /></a>
                            <p>헤비아우터<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/result_8"><img src="/assets/coat_1.jpg" alt="코트" width="66" height="84" /></a>
                            <p>코트<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/result_1"><img src="/assets/pants_1.jpg" alt="바지" width="66" height="84" /></a>
                            <p>바지<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/result_9"><img src="/assets/shortpants_1.jpg" alt="반바지" width="66" height="84" /></a>
                            <p>반바지<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/result_10"><img src="/assets/skirt_1.jpg" alt="치마" width="66" height="84" /></a>
                            <p>치마<br /></p></div>
			</div>
		</div>			
	</div>
		</div>

				
			</div>	
		</div>			
	<br><br><br><br><br><br><br><br>

	

    
</body>
</html>